<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!isSignUpMode" class="ion-text-center">تسجيل الدخول</ion-title>
    <ion-title *ngIf="isSignUpMode" class="ion-text-center">إنشاء حساب</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  #form="ngForm" (ngSubmit)="authenticateUser(form)">
    <ion-grid>
      <ion-row>
        <ion-col>

            <ion-label style="float: right;" *ngIf="!isSignUpMode" >تسجيل دخول</ion-label>
            <ion-label style="float: right;" *ngIf="isSignUpMode" >إنشاء حساب</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
<ion-list>

  <ion-item *ngIf="isSignUpMode">
    <ion-input  name="name" type="text" placeholder="الاسم والكنية" ngModel required></ion-input>
  </ion-item>
</ion-list>
<ion-list>

  <ion-item>
    <ion-input name="email" type="email" placeholder="البريد الالكتروني" ngModel required></ion-input>
  </ion-item>
</ion-list>
<ion-list>
  <ion-item>
    <ion-input name="password" type="password" placeholder="كلمة المرور" ngModel required></ion-input>
  </ion-item>

</ion-list>
<ion-list>
  <ion-item *ngIf="isSignUpMode">
    <ion-input name="mobile" type="number" placeholder="رقم الجوال ( اختياري )" ngModel></ion-input>
  </ion-item>

</ion-list>
<ion-list>

  <ion-item *ngIf="isSignUpMode">
    <ion-input name="address" type="address" placeholder="العنوان ( اختياري )" ngModel></ion-input>
  </ion-item>
</ion-list>

          <div>
            <ion-button *ngIf="!isSignUpMode" size="large" type="submit" [disabled]="form.invalid" expand="block">تسجيل دخول</ion-button>
            <ion-button *ngIf="isSignUpMode" size="large" type="submit" [disabled]="form.invalid" expand="block">إنشاء حساب</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <p class="ion-text-center" *ngIf="!isSignUpMode">  ليس لديك حساب مسبقا <span style="text-decoration: underline; color: blue" (click)="switchMode()">  إنشاء حساب</span></p>
  <p class="ion-text-center" *ngIf="isSignUpMode"> لديك حساب مسبقا <span style="text-decoration: underline; color: blue" (click)="switchMode()">تسجيل دحول</span></p>
</ion-content>
