<ion-toolbar>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col style="display: flex; flex-direction: column; align-content: center; align-items: center;" routerLink="/wallet">
        <ion-icon name="wallet" size="large"></ion-icon>
        <ion-label>المحفظة</ion-label>
      </ion-col>
      <!-- <ion-col style="display: flex; flex-direction: column; align-content: center; align-items: center;">
        <ion-icon name="calendar" size="large"></ion-icon>
        <ion-datetime pickerFormat="DD MMMM YYYY" placeholder="بداية الحول" (ionChange)='pickedDate($event.target.value)'></ion-datetime>
      </ion-col>
      <ion-col style="display: flex; flex-direction: column; align-content: center; align-items: center;" (click) = 'presentCurrencyPopover($event)'>
        <ion-icon name="logo-bitcoin" size="large"></ion-icon>
        <ion-label>العملة</ion-label>
      </ion-col> -->
      <ion-col style="display: flex; flex-direction: column; align-content: center; align-items: center;" routerLink='/home'>
        <ion-icon name="home" size="large"></ion-icon>
        <ion-label>الرئيسية</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
