<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title  class="ion-text-center">أنواع الزكاة</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="margin-top: 15px;" size-xs="6" size-lg = "6" size-md="4" *ngFor="let cat of zekat_category">
          <ion-img [src]="'assets/images/'+cat?.id+'.png'" class="contentCol" [routerLink]="cat?.id"></ion-img>
          <h3 style="margin-top:15px;" class="ion-text-center">{{cat?.category_name}}</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>